{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Оплата</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in unassigned_orders %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.get_payment_display }}</td>
        <td>
          {% if item.total_price %}
            {{ item.total_price }} руб
          {% else %}
            0 руб
          {% endif %}
        </td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.phone_number }}</td>
        <td>{{ item.address }}</td>
        <td>
          {% if item.available_restaurants_with_distance %}
          <details>
            <summary>Может быть приготовлен ресторанами ({{ item.available_restaurants_with_distance|length }})</summary>
            <ul style="margin-bottom: 0; padding-left: 20px;">
            {% for rest in item.available_restaurants_with_distance %}
              <li>
                {{ rest.name }}
                {% if rest.distance_km %}
                 - {{ rest.distance_km }} км
                {% else %}
                 - расттояние не определено
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          </details>
          {% else %}
            <em>Нет подходящих ресторанов</em>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' item.id %}?_from_order_items=1">
            Редактировать
          <a/>
        <td/>
      </tr>
    {% endfor %}
   </table>
  </div>
    <center>
    <h2>Заказы в работе</h2>
  </center>

  <!-- <hr/> -->
  <!-- <br/> -->
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Оплата</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in assigned_orders %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.get_payment_display }}</td>
        <td>
          {% if item.total_price %}
            {{ item.total_price }} руб
          {% else %}
            0 руб
          {% endif %}
        </td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.phone_number }}</td>
        <td>{{ item.address }}</td>
        <td>Готовит: {{ item.restaurant.name }}</td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' item.id %}?_from_order_items=1">
            Редактировать
          <a/>
        <td/>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
